@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
   top: 0px !important;
  position: static !important;
}

.goog-te-combo {
  display: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

.goog-te-gadget-icon {
  display: inline-flex;
}

.goog-te-gadget-simple {
  background-color: #ecebf0 !important;
  border: 0 !important;
  font-size: 5pt;
  font-weight: 500;
  display: inner-flex;
  padding: 5px 5px !important;
  cursor: pointer;
  font-family: "Poppins";
  border-radius: 5%;
  position: fixed;
  bottom: 0 !important;
  right: 0;
  z-index: 99999999999999999;
  /* display: flex; */
  /* width: 100%; */
}

.goog-te-gadget-simple a {
  display: inline-flex;
}

.goog-te-gadget-simple span {
  color: #3e3065 !important;
}
